* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 4fr;
    height: 100vh;
    width: 100vw;
}

.header {
    background-color: grey;
    grid-column: 2 / 3;
}

.sidebar {
    background-color: aquamarine;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 32px;
}

.logo {
    display: flex;
    gap: 16px;
    padding-left: 16px;
    padding-top: 16px;
    align-items: center;
}

.logo img {
    flex-shrink: 1;
    align-self: flex-start;
}

.sidebar ul {
    list-style-type: none;
    height: fit-content;
    padding: 0;
}

.sidebar li {
    display: flex;
    gap: 16px;
    align-items: center;
    padding-left: 16px;
}

.sidebar ul img {
    width: 2rem;
}

.sidebar ul img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.sidebar ul p:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.content {
    background-color: rgb(17, 117, 210);
    grid-column: 2 / 3;
}